body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    justify-content: center;
    margin: 0;
    padding: 10px 5px;
    border-radius: 20px;
    align-items: center;
    height: 100%;
    display: flex;
}
.box{
    text-align: center;
    align-items: center;
    padding: 50px 50px;
    background-color: rgb(241, 224, 235);
    border-radius: 10%;
    box-shadow: 14px 14px rgb(216, 107, 178);
}
h2{
    text-align: center;
}
button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
